<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="3">
    <test verbose="2" preserve-order="true" name="D:/website-testing">
        <classes>
            <class name="LoadingHomePageTest"/>
            <class name="LogInOutTest"/>
            <class name="UploadingAvatarTest"/>
        </classes>
    </test>
</suite>
